#__vconsole .vc-switch {
  z-index: 30000 !important;
}

#__vconsole .vc-mask {
  z-index: 30001 !important;
}

#__vconsole .vc-panel {
  z-index: 30002 !important;
}

.eb-layout-pc #__vconsole .vc-switch {
  right: 24px !important;
  bottom: 24px !important;
}
