[submodule "src/module/bz-login"]
	path = src/module/bz-login
	url = git@github.com:cabloy/cabloy-module-api-bz-login
[submodule "src/module/test-flow"]
	path = src/module/test-flow
	url = git@github.com:cabloy/cabloy-module-api-test-flow
[submodule "src/module/test-note"]
	path = src/module/test-note
	url = git@github.com:cabloy/cabloy-module-api-test-note
[submodule "src/suite/a-dingtalk"]
	path = src/suite/a-dingtalk
	url = git@github.com:cabloy/cabloy-suite-api-a-dingtalk
[submodule "src/suite/a-paypal"]
	path = src/suite/a-paypal
	url = git@github.com:cabloy/cabloy-suite-api-a-paypal
[submodule "src/suite/a-wechat"]
	path = src/suite/a-wechat
	url = git@github.com:cabloy/cabloy-suite-api-a-wechat
[submodule "src/suite/a-wxwork"]
	path = src/suite/a-wxwork
	url = git@github.com:cabloy/cabloy-suite-api-a-wxwork
[submodule "src/suite/cabloy-store"]
	path = src/suite/test-party
	url = git@github.com:cabloy/cabloy-suite-api-cabloy-store
[submodule "src/suite/test-party"]
	path = src/suite/test-party
	url = git@github.com:cabloy/cabloy-suite-api-test-party
[submodule "src/suite/bz-diancai"]
	path = src/suite/bz-diancai
	url = git@github.com:cabloy/cabloy-suite-api-bz-diancai
