hoist = true
hoist-workspace-packages = true
public-hoist-pattern[]=*babel*
public-hoist-pattern[]=*@babel*
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=*types*
public-hoist-pattern[]=lerna
public-hoist-pattern[]=vona
public-hoist-pattern[]=*vona*
public-hoist-pattern[]=cabloy
public-hoist-pattern[]=@cabloy
public-hoist-pattern[]=*cabloy*
public-hoist-pattern[]=*@cabloy*
public-hoist-pattern[]=*why-is-node-running*
public-hoist-pattern[]=*ts-node*
link-workspace-packages = 'deep'
prefer-workspace-packages = true
auto-install-peers = true