:root {
  --vp-c-brand-1: #646cff;
  --vp-c-brand-2: #747bff;

  .VPHomeHero {
    .container {
      .text {
        max-width: 900px;
      }
      .tagline {
        max-width: 800px;
      }
    }
  }
}

:root {
  --vp-font-family-base: monospace;
}

:root:where(:lang(zh)) {
  --vp-font-family-base: monospace;
}