name: actions-test-sqlite3
on:
  push:
    branches:
      - main
jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        node-version: [24]
    runs-on: ubuntu-latest
    services:
      redis:
        image: redis:latest
        ports:
          - 6379:6379
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}
      - uses: pnpm/action-setup@v4
        with:
          version: 10.19.0    
      - run: cp package.original.json package.json
      - run: npm i tsx -g 
      - run: npm run init
      - run: DATABASE_DEFAULT_CLIENT=sqlite3 npm run test
      - run: DATABASE_DEFAULT_CLIENT=sqlite3 npm run build -- --flavor=ci
      - run: DATABASE_DEFAULT_CLIENT=sqlite3 npm run play -- --mode=prod --flavor=ci
